.wpcf_admin_wrapper{
    display: flex;
    justify-content: space-between;
}

.wpcf_admin_main_area > form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: self-start;
}

.wpcf_admin_sidebar{
    background-color: aliceblue;
    height: 90vh;
    width: 20%;
    padding: 20px;
    box-shadow: 1px 2px 5px 9px rgba(69, 69, 69, 0.127);
}

.form-container,
.form-contents,
.wpcf_button {
    border: 1px solid rgb(2, 92, 176);
    padding: 10px 20px;
    border-radius: 5px;
}

.form-container > label,
.form-contents > label,
.wpcf_button > label {
    margin-left: 20px;
    font-size: 1.2rem;
}